<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Activation de votre compte</title>
	</head>
	<body>
		<p>Bonjour
			{{ user.name }},</p>

		<p>Merci de vous être inscrit sur notre site !</p>

		<p>Pour activer votre compte, veuillez cliquer sur le lien ci-dessous :</p>

		<p>
			<a href="{{ url('app_activate', {'token': token}) }}">
				Activer mon compte
			</a>
		</p>

		<p>Si vous n'avez pas créé de compte, ignorez cet email.</p>

		<p>Bonne journée,<br>L'équipe du site</p>
	</body>
</html>
