{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit
{% endblock %}

{% block body %}
	<h1>Ajouter un produit</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn">Ajouter</button>
	{{ form_end(form) }}

	<a href="{{ path('admin_product_list') }}">Retour à la liste</a>
{% endblock %}
